.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: flex-start; */
  justify-content: space-evenly;
  /* padding: 45px 45px; */
  /* margin: 0 auto; */
  justify-content: center;
  /* width: 75%; */
  border-radius: 4px;
  height: 100vh;
  width: 100%;

/* background-image: url(https://i.imgur.com/f7A65pl.jpg); */

}

.self-img {
  border: 2px solid black;
  border-radius: 50%;
  margin: 60px 60px;
  /* height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px; */
}

.name {
  font-size: 28px;
  font-weight: 300; 
  letter-spacing: 2px; 
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  margin-top: -750px;
}

.fs-dev {
  font-size: 26px;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 3px; 
  font-family: 'Raleway', sans-serif; 
  color: black;
}

.fs-dev {
  /* color: blue; */
  font-size: 28px;
  font-family: 'Fire Sans', sans-serif; 
}

.description {
  justify-content: center;
  text-align: center;
  letter-spacing: 1px; 
  font-family: 'Fira Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  text-align: center;
  font-size: 28px;
  margin-top: -50px;
  line-height: 1.5;
  font-weight: 300; 
  margin-bottom: 200px;

 
  /* margin-bottom: -600px; */
}

div.description {
  width: 35%
}


.bianca {
  font-size: 50px;
  font-family: 'Raleway', sans-serif; 
}

/* Apple MacBook Pro 15-inch (Early 2006 - Mid 2012) AND Apple MacBook Air 13-inch */
@media screen and (max-width: 1440px), screen and (max-height: 900px) {
  .name {
    margin-top: -950px;
  }

  div.title {
    font-size: 25px;
    
  } 


  .description {
    width: 50%;
    letter-spacing: 1px; 
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 22px;
    margin-top: -10px;
    line-height: 1.25;
    /* margin-bottom: -600px; */
  }

  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 26px;
    letter-spacing: 3px; 
    font-family: 'Raleway', sans-serif; 
    color: black;
  }

}


@media screen and (max-width: 1366px) {

  .self-img {
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 25px;
  }

  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 25px;
    letter-spacing: 3px; 
    font-family: 'Raleway', sans-serif; 
    color: black;
  }
  
  .description {
    width: 50%;
    letter-spacing: 1px; 
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    margin-top: -10px;
    line-height: 1.25;
    
  }
}


/* Apple Macbook Pro 13inch (Mid 2009 - Mid 2012) */
@media screen and (max-width: 1280px), screen and (max-height: 800px) {
  /* .name {
    font-size: 24px;
    letter-spacing: 1.75px; 
    margin-top: -1450px;
  }
  span.bianca {
    font-size: 36px;
   
  }

  div.name {
    margin-top: -1250px;
  } */

  .name {
    margin-top: -1150px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
}


/* Ipad Pro */
@media screen and (max-width: 1024px), screen and (max-height: 1366px) {
  /* .name {
    font-size: 20px;

    margin-bottom: 10px;
    margin-top: -700px;
  }
  .bianca {
    font-size: 34px;
  } */

  /* .name {
    margin-top: -400px;
  } */

  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 22px;
    letter-spacing: 3px; 
  }

  .self-img {
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 25px;
  }

  .description {
    width: 70%;
    letter-spacing: 1px; 
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 22px;
    margin-top: -20px;
    line-height: 1.25;
/* 
    margin-bottom: -600px; */
  }

 

  /* div.description {
    width: 62%;

} */
}

/* Ipad */
@media screen and (max-width: 768px), screen and (max-height: 1024px)  {
  /* .name {
    font-size: 20px;

    margin-bottom: 10px;
    margin-top: -1000px;
  }

  div.name {
    margin-top: -800px;
  }
  .bianca {
    font-size: 34px;
    margin-top: -1000px;
  } */

  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 22px;
    letter-spacing: .5px; 
  }
  .description {
    width: 50%;
    letter-spacing: 1px; 
    /* font-family: 'Raleway', sans-serif; */
    font-size: 21px;
    margin-top: -10px;
    line-height: 1.25;
    /* margin-bottom: 175px; */
  }
}

/* Iphone 6/7/8 Plus */
@media screen and (max-width: 414px), screen and (max-height: 736px)  {
  /* .name {
    font-size: 16px;

    margin-bottom: 10px;
    margin-top: -1200px;
  } */

  /* span.bianca{
    margin-top: -1000px;
  } */

  /* div.name {
    margin-top: -1650px;
  } */
  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 16px;
    letter-spacing: .2px; 
    text-align: center;
    width: 75%;
  }
  .self-img {
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 25px;
    height: 200px;
    width: 200px;
  }
  .description {
    width: 75%;
    letter-spacing: 1px; 
    /* font-family: 'Raleway', sans-serif; */
    font-size: 18px;
    /* margin-top: -10px; */
    line-height: 1;
    /* margin-bottom: 175px; */
  }

  /* div.description {
    width: 75%;
    margin-bottom: 830px;
  } */

}

/* Iphone X */
@media screen and (max-width: 375px), screen and (max-height: 812px)  {
  /* .name {
    font-size: 18px;

    margin-bottom: 10px;
    margin-top: -1000px;
  }
  .bianca {
    font-size: 30px;
  } */
  .title {
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: 18px;
    letter-spacing: .5px; 
  }
  .description {
    width: 50%;
    letter-spacing: 1px; 
    /* font-family: 'Raleway', sans-serif; */
    font-size: 18px;
    /* margin-top: -10px; */
    line-height: 1.25;
    /* margin-bottom: 175px; */
  }
}