.thanks {
  font-size: 24px;
  /* font-weight: 300;  */
  letter-spacing: 2px; 
  font-family: 'Raleway', sans-serif;
  margin: 50px 50px;
  justify-content: center;
  text-align: center;
  text-shadow: 0 22px 22px rgb(218, 139, 139);
}

.contact-me-span {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2px; 
  font-family: 'Raleway', sans-serif;
  /* text-shadow: 0px 0px 10px rgba(243, 237, 237, 0.7); */
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); 
}

.asap-span {
  font-weight: bold;
  font-size: 34px;
  font-style: oblique;
  text-shadow: 0 22px 22px rgb(218, 139, 139);
}

/* .anytime-span {
color: black;
font-size: 34px;
letter-spacing: 6px; 
font-style: oblique;
text-shadow: 0 22px 22px rgb(218, 139, 139);
} */

.anytime {
  font-size: 30px;
  margin-right: 120px;
  color: black;
  font-style: oblique;
}

span.anywhere-span {
  font-size: 30px;
  font-style: oblique;
}

.get-back-span {
  color: black;
  font-size: 28px;
}

.contact-please {
  justify-content: center;
  text-align: center;
  letter-spacing: 1px; 
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  border: 2px solid black;
  margin: 0 auto;
  justify-content: center;
  /* width: 75%; */
  border-radius: 4px;
  height: 1300px;
  align-content: flex-start;
  max-width: 100%;
  /* box-sizing: border-box; */
  background: url(https://i.imgur.com/YJGJ53d.jpg);
  /* background-repeat: no-repeat;  */
  background-size: 100%;
  background-size: cover;
  /* background-size: contain; */
}

@keyframes blink {
  50% {
    background: radial-gradient(ellipse, #fa1e57 5%, transparent 10%),  rgba(243, 223, 223, 0.80);
  }
}

@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(ellipse, #fa1e57 5%, transparent 10%),  rgba(243, 223, 223, 0.80);
  }
}

@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(ellipse, #fa1e57 5%, transparent 10%),  rgba(243, 223, 223, 0.80);
  }
}

.contact-form {

border: solid black;
/* padding: 45px; */
padding-top: 45px;
border-radius: 20px;
/* border-radius: 60px 60px 10px 10px; */
box-shadow: 0 0 17px 6px rgba(0, 0, 0, 1);
/* background-color: rgba(243, 223, 223, 0.80); */
height: 60%;
width: 35%;
animation: blink 1.25s infinite;
-webkit-animation: blink 1.25s infinite;
-moz-animation: blink 1.25s infinite;
background: radial-gradient(ellipse, white 5%, transparent 10%),  rgba(243, 223, 223, 0.80);
}
/* .contact-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid #453886;
  color: #42cee0;
  padding-bottom: .25em;
  text-decoration: none;
  list-style: none;
  width: 100%;
  
}

.contact-box a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
} */

.contact-box {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}


.pin-drop {
  height: 120px;
  width: 120px;
  margin: 20px 20px;
  /* display: flex;
 align-items: center; */
}


.icon-email {
  height: 65px;
  width: 60px;
}

.icon-email:hover {
  opacity: 0.7;
}

.icon-linkedin {
  height: 55px;
  width: 60px;
}

.icon-linkedin:hover {
  opacity: 0.7;
}

.icon-github {
  height: 65px;
  width: 60px;
}

.icon-github:hover {
  opacity: 0.7;
}

.icon-resume {
  height: 70px;
  width: 75px;
}

.icon-resume:hover {
  opacity: 0.7;
}

ul.contact-box {
  padding: 0px;
}


/* position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50%;
z-index: -1;
object-fit: cover;
overflow: hidden;
display: flex;
}


 */

.contact-box a:link { color: black; }
.contact-box a:visited { color: #fa1e57; }



@media screen and (max-width: 1440px) {
  .contact-container {
    border-radius: 4px;
    height: 1300px;
    height: 1300px;
    max-width: 100%;
    /* box-sizing: border-box; */
    /* background-repeat: no-repeat;  */
    background-size: 75%;
    background-size: cover; 
  }    

  .contact-form {
    border: solid black;
    margin-bottom: 35px;
    width: 50%;
    height: 55%;
    margin-top: -350px;
    margin-bottom: -350px;
    padding-bottom: 40px;
  }

  .thanks {
    font-size: 22px;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;   
  }

  .get-back-span {
    color: black;
    font-size: 24px;    
  }

  .asap-span {
    font-weight: bold;
    font-size: 32px;
    font-style: oblique;
    text-shadow: 0 22px 22px rgb(218, 139, 139);  
  }

   div.contact-container {
    height: 850px;
  } 

  ul.contact-box {
     margin-top: -40px;
  }
    
  .thanks {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .contact-me-span {
    font-size: 34px;   
  }

  .anytime {
    font-size: 30px;
    margin-right: 120px;
    color: black; 
  }

  span.anywhere-span {
    font-size: 30px;
  }

  .pin-drop {
    height: 100px;
    width: 100px;
    margin-top: -40px;
    margin-left: 20px;
    /* display: flex;
    align-items: center; */
  }   
} 

@media screen and (max-width: 1280px), screen and (max-height: 800px) {
  .contact-form {
    margin-bottom: 35px;
    width: 50%;
    height: 55%;
    margin-top: -250px;
    margin-bottom: -350px;
    padding-bottom: 40px;
  }
}






@media screen and (max-width: 1024px) {
  .contact-container {
    border-radius: 4px;
    height: 1300px;
    height: 1300px;
    max-width: 100%;
    /* box-sizing: border-box; */
    /* background-repeat: no-repeat;  */
    background-size: 75%;
    background-size: cover; 
  }    

  .contact-form {
    border: solid black;
    margin-bottom: 35px;
    width: 50%;
    height: 55%;
    margin-top: -350px;
    margin-bottom: -350px;
    padding-bottom: 40px;
  
    }
    .thanks {
      font-size: 22px;
      justify-content: center;
      text-align: center;
      margin-top: -20px;
     
    }

    .get-back-span {
      color: black;
      font-size: 22px;  
      
    }

    .asap-span {
      font-weight: bold;
      font-size: 22px;
      font-style: oblique;
      text-shadow: 0 22px 22px rgb(218, 139, 139);  
    }

    div.contact-container {
      height: 850px;
    } 

    ul.contact-box {
      margin-top: -40px;
      
    }
    
    .thanks {
      font-size: 18px;
      margin-bottom: 70px;
     
    
    }

    .contact-me-span {
      font-size: 28px;
       
    }

    .anytime {
      font-size: 26px;
      margin-right: 120px;
      color: black;
     
    }

    span.anywhere-span {
      font-size: 30px;
    }

    .pin-drop {
      height: 80px;
      width: 80px;
      margin-top: -40px;
      margin-left: 20px;
  /* display: flex;
 align-items: center; */
}

/* .icon-email, .icon-github, .icon-linkedin {
  width: 40%;
  height: 65%;
}

.icon-resume {
  width: 55%;
  height: 80%;
    
}  */
}