.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  align-items: flex-start;
  width: 100%;
  background-repeat: no-repeat; 
  background-size: 100%;
  background-attachment: fixed;
  height: 1600px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

.overlay video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}


ul.main-nav-list {
 padding: 0px;
}
  
.main-nav ul {
  margin-top: 0px;
  text-align: center;   
}

.main-nav li {
  display: inline;  
}

.main-nav a {
  display: inline-block;
  padding: .30em 8em;
  width: 85%;
  color: white;
  justify-content: space-between;
  font-size: 34px;
  font-weight: 300; 
  letter-spacing: 2px; 
  font-family: 'Raleway', sans-serif;
  justify-content: space-evenly;
  position: static;
  text-decoration: none;
  box-shadow: 0 12px 18px #26c8ce;
  border-radius: 10px;
}


li a:hover {
  color: rgb(250, 30, 87);
  transition: all 0.3s ease;
}

li a:active {
  background-color: rgb(250, 30, 87);
  /* box-shadow: 0 5px #666;  */
  transform: translateY(20px);
}

.software-title {
  margin-top: -200px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: heavy; 
  letter-spacing: 3px; 
  text-align: center;
  font-size: 275%;
  position: relative;
  animation: slideright 1s 1;
  -webkit-animation: slideright 1s 1;
  -moz-animation: slideright 1s 1;
}

/* div.software-title {
  font-size: 250%;
  margin-top: 820px;
} */




@keyframes slideright {
  from {left: -1200px;}
  to {left: 0px;}
}

@-webkit-keyframes slideright {
  from {left: -1200px;}
  to {left: 0px;}
}

@-moz-keyframes slideright {
  from {left: -1200px;}
  to {left: 0px;}
}
  
span {
  color: rgb(250, 30, 87);
  font-weight: heavy;
  font-family: 'Raleway', sans-serif;
}

.sub-title {
  /* animation: slideright 1s 1;
  -webkit-animation: slideright 1s 1;
  -moz-animation: slideright 1s 1; */
  color: white;
  letter-spacing: 4px; 
  font-family: 'Fira Sans', sans-serif; 
  text-align: center;
  font-size: 40px;
}

    /* @keyframes slideleft {
    from {right: -1200px;}
    to {right: 0px;}
  } */

  /* @media screen and (max-width: 2880px), screen and (max-height: 1800px) {
    .software-title {
      margin-top: 255px;
      color: white;
      letter-spacing: px; 
      font-size: 32px;
    }
  
    .main-nav a {
      padding: .30em 3.60em;
      font-size: 24px;
    }
  
    .sub-title {
      font-size: 32px;
    }
  
  } */


 /* Apple MacBook Pro 15-inch (Early 2006 - Mid 2012) AND Apple MacBook Air 13-inch */
@media screen and (max-width: 1440px), screen and (max-height: 900px) {
  .software-title {
    /* margin-top: -200px; */
    font-size: 34px;

  }



  .main-nav-list li {
    font-size: 40px;
  }

  a {
    font-size: 32px;

  }

  .main-nav a {
    padding: .30em 4em;
    font-size: 28px;
    font-weight: 400; 
    letter-spacing: 2px; 
  }

  .sub-title {
    font-size: 42px;
  }

  /* div.software-title {
    font-size: 250%;
    margin-top: 250px;
  } */

  span.web-developer {
    font-size: 100%;
  }
  
  /* .sub-title {
     margin-bottom: -250px;
  } */

  /* div.buttons {
    margin-right: 20px;
  } */
}

/* @media screen and (max-width: 1366px) {
  .software-title {
    margin-top: 250px;
    color: white;
    letter-spacing: px; 
    font-size: 34px;
  }

  .main-nav a {
    padding: .30em 4em;
    font-size: 26px;
    font-weight: 400; 
    letter-spacing: 2px; 
  }

  .sub-title {
    font-size: 34px;
  }
} */

/* Macbook Pro 13inch Mid 2012 */
@media screen and (max-width: 1280px), screen and (max-height: 800px) {
  .software-title {
    /* margin-top: 255px; */
    color: white;
    letter-spacing: 1px; 
    font-size: 32px;
  }

  .main-nav a {
    padding: .30em 3.60em;
    font-size: 28px;
    width: 75%;
  }

    /* ul.main-nav-list  {
      margin-bottom: -200px;
    }
  */

  .sub-title {
    font-size: 38px;
  }

  div.sub-title {
    font-size: 185%;
  }

  /* div.software-title {
    font-size: 180%;
    margin-top: -225px;
  } */

  span.web-developer {
    font-size: 100%;
  }

}

/* Ipad Pro */
@media screen and (max-width: 1024px), screen and (max-height: 1366px) {
  /* .software-title {  */
    /* margin-top: 300px;  */
    /* font-size: 50%;  */
    /* margin-top: 200%;  */
   /* } */

  .main-nav a {
    padding: .25em 3.5em;
    font-size: 22px;
    font-weight: 400; 
    letter-spacing: 2px; 
    
  }

  .sub-title {
    font-size: 28px;
  }
  .main-nav ul {
    /* margin-top: 40px; */
    margin-bottom: 440px;
    text-align: center;   
  }
  /* .web-developer{
    font-size: 48px;
    white-space: pre;
  } */
}

/* div.software-title {
  font-size: 180%;
  margin-top: 425px;
} */

/* Ipad */
@media screen and (max-width: 768px), screen and (max-height: 1024px)  {
  .software-title {
    /* margin-top: 275px; */
    /* font-size: 22px; */
    letter-spacing: 1.5px; 
    
  }

  .web-developer{
    font-size: 48px;
    white-space: pre;
  }

  .main-nav a {
    padding: .25em 2.5em;
    font-size: 20px;
    font-weight: 400; 
    letter-spacing: 2px; 
  }

  .sub-title {
    font-size: 27px;
  }
}

/* Iphone 6/7/8 Plus */
@media screen and (max-width: 414px), screen and (max-height: 736px)  {

  .software-title {
    /* margin-top: 250px; */
    font-size: 22px;
    letter-spacing: .5px; 
  }
  /* .web-developer{
    font-size: 36px;
  } */

  .sub-title {
    font-size: 20px;
    letter-spacing: .5px; 
  }

  div.sub-title {
    font-size: 20px;
  }

/* div.software-title {
    font-size: 18px;
    margin-top: -250px;
  
    
  } */

  span.web-developer {
    font-size: 100%;
    white-space: pre;
  }

  /* .main-nav ul {
    margin-top: 10px;
     
  } */

/* span.web-developer {
    font-size: 28px;
  }  */


}


/* Iphone X */
@media screen and (max-width: 375px), screen and (max-height: 812px)  {

  .main-nav a {
    padding: .25em 2.5em;
    font-size: 18px;
    font-weight: 400; 
    letter-spacing: 2px; 
  }
  .software-title {
    /* margin-top: 250px; */
    /* font-size: 18px; */
    letter-spacing: .5px; 
  }
  .web-developer{
    font-size: 36px;
  }

  .sub-title {
    font-size: 20px;
    letter-spacing: .5px; 
  }
  /* div.software-title {
    font-size: 26px;
  }
  
  span.web-developer {
    font-size: 38px;
  } */



}