  
.project {

  border: 6px solid rgb(201,72,158);
  border-radius: 10px;
  background-color: rgba(85, 187, 255,.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
  margin-bottom: 40px;
  text-shadow: 6px 6px 6px rgb(233, 159, 159);
  
}

img {
  width: 400px;
  padding: 10px;

}



.img {
display: flex;
justify-content: space-between;
padding: 5px;




}

h2 {
  color: rgb(201,72,158);
  font-size: 40px;

}

p {

  color: rgb(201,72,158);
  padding: 0px 60px;

}