.skills-tools-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 45px 45px;
  border: 2px solid black;
  margin: 0 auto;
  justify-content: center;
  /* width: 75%; */
  border-radius: 4px;
  background-color: cadetblue;
  flex-wrap: wrap;
  

}

.about-skills-list {
  list-style: none;
  text-decoration: none;
 
}

.icon-html {
  height: 75%;
  width: 50%;
}

.icon-css {
  height: 85%;
  width: 80%;
}
.icon-js {
  height: 50%;
  width: 35%;
}
.icon-react {
  height: 50%;
  width: 35%;
}
.icon-node {
  height: 75%;
  width: 55%;
}

.icon-ruby {
  height: 65%;
  width: 55%;
}

.icon-rails {
  height: 65%;
  width: 35%;
}

.icon-sql {
  height: 85%;
  width: 85%;
}

.icon-mongo {
  width: 75px;
  border: 1px solid black;
  border-radius: 60%;
 
}

.icon-postman {
  width: 75px;
 
}

.icon-express {
  width: 75px;
 
}

.icon-storybook {
  width: 75px;
  height: 75px;
 
}

.icon-adobe {
  width: 75px;
  height: 75px;
 
}

.icon-netlify {
  margin-top: 20px;
  width: 100px;
}

.icon-surge {
  height: 75px;
  width: 75px;
  
}


li {
  list-style: none;
}

.about-skill-list {
  display: flex;
  justify-content: space-between;
 
 

}

.skills-tools-title {
  font-size: 28px;
  font-weight: 300; 
  letter-spacing: 3px; 
  font-family: 'Fira Sans', sans-serif; 
}