.skills-tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px 45px;
  border: 2px solid black;
  margin: 0 auto;
  justify-content: center;
  /* width: 75%; */
  border-radius: 4px;
  background-color: cadetblue;

}

.icon-html {
  height: 50%;
  width: 25%;
}

.icon-css {
  height: 50%;
  width: 50%;
}


.about-skill-list {
  display: flex;
 



}